.clearfix {
    display: block;
    content: "";
    clear: both;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a{
    text-decoration:none
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  html {
    overflow: inherit;
  }

  label{
    position: relative;
  }
  body {
    line-height: 1;
  }
  
  h1 , p, button, input ,a{
    font-family: Microsoft JhengHei;
  }
  
  ul, li, body {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    list-style-type: none;
  }

  button{
    cursor: pointer;
  }

  $inner-bgc:#ffffffcc;
  $part7-color:#a40000;
  $all-font-family:Microsoft JhengHei;

  .container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    .logo{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        .logo-inner{
            background: url(../images/logo.png) no-repeat ;
            background-size: contain;
            width: 250px;
            height: 97px;
        }
    }
    .inner{
        position: relative;
        width: 90%;
        height: 85%;
        margin: 0 auto;
        background-color: $inner-bgc;
        overflow-y: scroll;
        .part1{
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .title-img1{
                display: flex;
                width: 90%;
                padding: 15%;
                background: url(../images/part-1.png) no-repeat;
                background-size: contain;
            }
        }//part1
        .p1{
            margin: 25px 50px 50px 50px;
            letter-spacing: 0.3px;
            line-height: 25px;
        }
        .part2{
            display: flex;
            width: 100%;
            padding: 50%;
            background: url(../images/part-2.png) no-repeat;
            background-size: contain;
        }
        .part3{
            width: 100%;
            position: relative;
            .top-box{
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: -13% 50px 0 50px;
                .title{
                    color:$part7-color;
                    font-size: 21px;
                    font-weight: bolder;
                    font-family: $all-font-family;
                    display: flex;
                    margin-bottom: 5%;
                }
                .box-img{
                    background: url(../images/part-3-1.jpg) no-repeat;
                    background-size: contain;
                    width: 96%;
                }
                .box-img:after{
                    content:"(圖2.簡易明瞭的投注介面，讓玩家很短時間內在即可找到要投注的盤口)";
                    display: flex;
                    position: relative;
                    justify-content: center;
                    margin-top: 75%;
                    font-family: $all-font-family;
                    color: #444444;
                }
                .p2{
                    letter-spacing: 0.8px;
                    font-weight: 500;
                    line-height: initial;
                    margin-bottom: 30px;
                }
                .p3{
                    letter-spacing: 0.4px;
                    font-weight: 500;
                    line-height: initial;
                    margin-bottom: 50px;
                }
            }//top-box

            .bottom-box{
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: 50px;
                
                .box-img{
                    background: url(../images/part-3-2.jpg) no-repeat;
                    background-size: contain;
                    width: 96%;
                }
                .box-img:after{
                    content:"(圖3.多種投注選擇一目瞭然)";
                    display: flex;
                    position: relative;
                    justify-content: center;
                    margin-top: 75%;
                    font-family: $all-font-family;
                    color: #444444;
                }
            }//bottom-box
            .box-img{
                margin-bottom: 50px;
            }
        }//part3
        .part4{
            margin-top: 50px;
            background: url(../images/part-4.png) no-repeat;
            background-size: contain;
            width: 100%;
            padding: 15%;
        }
        .part5{
            margin:50px 0 50px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div:nth-child(1){
                background: url(../images/part-5-1.jpg) no-repeat;
                background-size: contain;
                width: 90%;
                margin-bottom: 100px;
            }
            div:nth-child(1):after{
                    content:"(圖4-1.直播賽事服務，隨選隨看)";
                    display: flex;
                    position: relative;
                    justify-content: center;
                    margin-top: 68%;
                    font-family: $all-font-family;
                    color: #444444;
            }
            div:nth-child(2){
                background: url(../images/part-5-2.jpg) no-repeat;
                background-size: contain;
                width: 90%;
            }
            div:nth-child(2):after{
                content:"(圖4-2.直播賽事服務，隨選隨看)";
                display: flex;
                position: relative;
                justify-content: center;
                margin-top: 72%;
                font-family: $all-font-family;
                color: #444444;
        }
        }
        .part6{
           margin:50px 0;
            div{
                background: url(../images/part-6.png) no-repeat;
                background-size: contain;
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
            }
            div:before{
                content:"(圖5.手持式裝置直覺式頁面，快速上手無負擔。)";
                display: flex;
                position: relative;
                justify-content: center;
                margin-top: 66%;
                font-family: $all-font-family;
                color: #444444;
            }
        }
        
        .part7{
            display: flex;
            flex-wrap: wrap;
            margin: 0 50px 100px 50px;
            
            .title{
                width: 100%;
                color:$part7-color;
                font-family: Microsoft JhengHei;
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.5px;
            }
            p:nth-child(2){
                letter-spacing: 0.6px;
                margin-bottom: 30px;
                line-height: 25px;
            }
            p:nth-child(3){
                letter-spacing: 0.6px;
                margin-bottom: 30px;
                line-height: 25px;
            }
        }
    }
}

/*just BG*/
.BG {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: url(../images/BG.jpg) no-repeat center top;
    background-size: cover;
    top: 0px;
    //background-attachment: fixed;
  }
.BG2{
    position: absolute;
    pointer-events: none;
    background: url(../images/BG2.png) no-repeat ;
    background-size: contain;
    width: 421px;
    height: 574px;
    top: 396px;
    right: 60px;
}
/*RWD area*/
@media screen and(max-width:1750px)
{
    .BG2{
        right: -5%;
    }
}
@media screen and(max-width:1400px)
{
    .BG2{
        display: none;
    }
}
@media screen and(min-width:1100px)
{
    .container .inner{
       width: 1100px;
    }
}

@media screen and(max-width:1100px)
{
    .container .inner .part2{
        max-height: 100%;
    }
}